@media only screen and (min-width: 992px) and (max-width: 1199px) {
  /* header------------------------ */
  .header .row .col .logo{
    padding-left: 5px;
  }
  .header .row .col .nev ul li a{
    font-size: 17px;
  }
  .main-search input{
    width: 150px;
  }
  .header .row .col.right{
    display: none;
  }
  /* Slider----------------------------- */
  .slider .slider-content h1{
    font-size: 50px;
    font-weight: 700;
    line-height: 60px;
  }
  .slider .slider-content p{
    font-size: 20px;
  }

  /* Slider---------------------------- */
  .slider .slider-content{
    width: 900px;
  }
  /* About Section=------- */
  .about-us .about-us-content{
    gap: 8em;
  }
  .about-us .about-us-content .left .img-box{
    width: 455px;
  }
  .about-us .about-us-content .left .img-box .left-img{
    width: 400px;
  }
  .about-us .about-us-content .left .img-box .right-img{
    width: 400px;
  }
  .about-us .about-us-content .right h1{
    font-size: 40px;
    font-weight: 500;
    line-height: 60px;
    margin-bottom: 20px;
  }
  .about-us .about-us-content .right p{
    font-size: 18px;
    line-height: 28px;
    margin-bottom: 15px;
  }
    /* Study Destination--------------------- */
    .study-destination .study-destination-content .study-des-content-body{
      width: 98%;
    }
    .services-title{
      width: 98%;
    }
    .study-destination-area .main-service{
      width: 98%;
    }
    /* Service Page Design-------------------- */
    .service-page-header{
      width: 100%;
      height: 600px;
    }
    .service-page-header .page-header-content h3{
      font-size: 40px;
    }
    /* Event Detials page--------------- */
    .event-details .event-content .event-body .left .row h1{
      width: 90%;
    }


}
@media only screen and (min-width: 768px) and (max-width: 991px) {
  /* header------------------------ */
  .header .row .col .logo{
    padding-left: 5px;
  }
  .header{
    position: relative;
  }
  .header .row .col.right{
    display: none;
  }
  .header .col.main-nev{
    display: none;
  }
  /* Mobile Menu---------------------- */
  .header .row .col.mobile-menu{
    display: block;
    text-align: right;
  }
  .header .row .col.mobile-menu span{
    font-size: 35px;
    line-height: 80px;
    margin-right: 10px;
    color: var(--primary-color);
  }

  .header .mobile-nav{
    width: 400px;
    height: 100vh;
    position: absolute;
    right: -320px;
    display: none;
    text-align: right;
    z-index: 2000;
    background-color: var(--secondary-color);
    color: var(--white-color);
    border: 1px solid #e5e8ec36;
    border-top: 0;
    border-bottom: 0;


    transition: right 1s linear;
    transition-property: background-color;
    transition-duration: 0.5s;
    transition-timing-function: ease-in;
    transition-delay: 0.3s;
  }
  .header .mobile-nav ul li{
    padding: 15px 20px;
    font-weight: 500;
    border-bottom: 1px solid #e5e8ec36;
    overflow: hidden;
  }
  .header .mobile-nav .menu-logo{
    position: absolute;
    left: 0;
    bottom: 0;
  }
  .mobile-dropdown{
    position: relative;
    top: 10px;
    right: 0;
    max-height: 0;
    overflow: hidden;
    transition: .3s;
  }
  .mobile-dropdown ul li:last-child{
    border-bottom: none;
  }
  .mobile-dropdown-show{
    max-height: 100%;
  }
  .roted180geg{
    transform: rotate(180deg);
  }
  .fa-caret-down{
    transition: .3s;
  }
  /* Slider---------------------------- */
  .slider .slider-content{
    width: 90%;
  }
  /* Slider------------------------ */
  .slider{
    width: 100%;
    height: 60vh;
    position: relative;
  }
  .slider::after{
    content: "";
    width: 100%;
    height: 60vh;
    background-color: #040c3959;
    position: absolute;
    top: 0;
    left: 0;
  
  }
  .slider .slider-content h1{
    font-size: 40px;
    font-weight: 700;
    line-height: 50px;
  }
  .slider .slider-content p{
    font-size: 20px;
  }
  /* About Section=------- */
  .page-header {
    height: 300px;
  }
  .about-us .about-us-content{
    flex-direction: column;
    gap: 0;
  }
  .about-us .about-us-content .left .img-box{
    width: 555px;
  }
  .about-us .about-us-content .left .img-box .left-img{
    width: 500px;
  }
  .about-us .about-us-content .left .img-box .right-img{
    width: 500px;
  }
  .about-us .about-us-content .right h1{
    font-size: 40px;
    font-weight: 500;
    line-height: 60px;
    margin-bottom: 20px;
  }
  .about-us .about-us-content .right p{
    font-size: 18px;
    line-height: 28px;
    margin-bottom: 15px;
  }
    /* Study Destination--------------------- */
    .study-destination .study-destination-content .study-des-content-body{
      width: 98%;
    }
    .services-title{
      width: 98%;
    }
    .study-destination-area .main-service{
      width: 98%;
    }
    /* Scholarship--------------------- */
    .scholarship .scholarship-content .scholarship-body{
      position: absolute;
      width: 95%;
      top: 50%;
      left: 2%;
    }
    .scholarship .scholarship-content .scholarship-body h1{
      font-size: 50px;
      line-height: 65px;
    }
    /* Latest Trende---------------- */
    .latest-trend .latest-trend-content .latest-trend-header h1{
      font-size: 30px;
      font-weight: 700;
      margin-top: 10px;
    }
    /* ******************************************** */
    /* --------------About Page-------------------- */
    /* ******************************************** */
    /* All Service Details----------------- */
    .ser-details .ser-details-content .left h3{
      font-size: 25px;
    }
    .ser-details .ser-details-content .right .ser-img-wrapper{
      width: 100%;
      max-height: 800px;
      overflow: hidden;
    }
    .ser-details .ser-details-content .left p{
      font-size: 16px;
      line-height: 25px;
    }
    /* incomparable-------------------- */
    .incomparable .incomparable-content{
      display: flex;
      flex-direction: column;
    }
    .incomparable .incomparable-content .left h3{
      text-align: center;
    }
    .incomparable .incomparable-content .left .left-body .card{
      flex: 1;
      flex-basis: 300px;
      max-width: 400px;
    }
    /* Founder ----------------- */
    .founder-header h1{
      text-align: center;
    }
    .founder .founder-content{
      flex-direction: column;
      align-items: center;
      gap: 2em;
    }
    .founder .founder-content .founder-left{
      flex: 1;
      flex-basis: 100%;
      margin-left: 50px;
    }
    .founder .founder-content .founder-right{
      flex: 1;
      flex-basis: 100%;
    }
    /* Service Page Design-------------------- */
    .service-page-header{
      width: 100%;
      height: 500px;
    }
    .service-page-header .page-header-content{
      flex-direction: column;
      justify-content: space-between;
    }
    .service-page-header .page-header-content h3{
      flex: 1;
      flex-basis: 100%;
      font-size: 50px;
    }
    .service-page-header .page-header-content p{
      flex: 1;
      flex-basis: 100%;
      text-align: left;
      margin-top: 50px;
      font-size: 18px;
      opacity: 1;
    }
    /* ----------------------------------------- */
    /* News & Event ------------------------ */
    /* --------------------------------------- */
    .news-event .news-event-content h1{
      font-size: 80px;
      line-height: 90px;
      letter-spacing: 5px;
    }
    .news-event .news-event-content h2{
      font-size: 100px;
      margin-left: 40px;
    }
    .news .news-content .news-body .card{
      display: flex;
      flex-direction: column;
      flex-wrap: wrap;
      justify-content: center;
      gap: 2  em;
      border-bottom: 2px solid var(--border-color);
      padding-bottom: 50px;
    }
    .news .news-content .news-body .card .row .news-des-content a{
      margin-top: 30px;
    }
    /* News----------------- */
    .event .event-content .event-body .card{
      flex: 1;
      flex-basis: 400px;
      max-width: 100%;
    }
    /* Event Detials page--------------- */
    .event-details .event-content .event-body .left .row h1{
      width: 90%;
    }
    /* Blog-------------------------- */
    .blogs .blogs-content .blog-left{
      flex-basis: 50%;
    }
    .blogs .blogs-content .blog-left .card .blg-card-left .blg-img-wrapper{
      width: 100%;
      height: 350px;
    }
    .blogs .blogs-content .blog-right{
      flex-basis: 40%;
    }
  /* Contact Section--------------------- */
  .career .career-content .career-header h1{
    font-size: 35px;
  }
  .career .career-content .career-body .left img{
    width: auto;
    height: 100%;
  }
  .career .career-content .career-body .left{
    border-bottom-left-radius: 0;
    border-top-right-radius: 20px;
  }
  .career .career-content .career-body .right{
  flex: 1;
  flex-basis: 50%;
  background-color: var(--light-bg-color);
  padding: 30px 20px;
  border-bottom-right-radius: 20px;
  border-bottom-left-radius: 20px;
  border-top-right-radius: 0;
  }
  .career .career-content .career-body .right form h1{
  font-size: 16px;
  font-weight: 700;
  line-height: 20px;
  opacity: 80%;
  margin-bottom: 10px;
  }
  .career .career-content .career-body .right form button{
  font-size: 10px;
  margin-top: 10px;
  border-radius: 0;
  width: auto;
  border-radius: 5px;
  }

  /* Footer---------------- */
  .footer .footer-content .row{
    justify-content: space-between;
  }
  .footer .footer-content .row .col{
   flex: 1;
   flex-basis: 200px;
  }


}

@media only screen and (min-width: 576px) and (max-width: 767px) {
  /* header------------------------ */
  .header .row .col .logo{
    padding-left: 5px;
  }
  .header{
    position: relative;
  }
  .header .row .col.right{
    display: none;
  }
  .header .col.main-nev{
    display: none;
  }
  /* Mobile Menu---------------------- */
  .header .row .col.mobile-menu{
    display: block;
    text-align: right;
  }
  .header .row .col.mobile-menu span{
    font-size: 35px;
    line-height: 80px;
    margin-right: 10px;
    color: var(--primary-color);
  }

  .header .mobile-nav{
    width: 400px;
    height: 100vh;
    position: absolute;
    right: -320px;
    display: none;
    text-align: right;
    z-index: 2000;
    background-color: var(--secondary-color);
    color: var(--white-color);
    border: 1px solid #e5e8ec36;
    border-top: 0;
    border-bottom: 0;


    transition: right 1s linear;
    transition-property: background-color;
    transition-duration: 0.5s;
    transition-timing-function: ease-in;
    transition-delay: 0.3s;
  }
  .header .mobile-nav ul li{
    padding: 15px 20px;
    font-weight: 500;
    border-bottom: 1px solid #e5e8ec36;
    overflow: hidden;
  }
  .header .mobile-nav .menu-logo{
    position: absolute;
    left: 0;
    bottom: 0;
  }
  .mobile-dropdown{
    position: relative;
    top: 10px;
    right: 0;
    max-height: 0;
    overflow: hidden;
    transition: .3s;
  }
  .mobile-dropdown ul li:last-child{
    border-bottom: none;
  }
  .mobile-dropdown-show{
    max-height: 100%;
  }
  .roted180geg{
    transform: rotate(180deg);
  }
  .fa-caret-down{
    transition: .3s;
  }
  /* Slider------------------------ */
  .slider{
    width: 100%;
    height: 50vh;
    position: relative;
  }
  .slider::after{
    content: "";
    width: 100%;
    height: 50vh;
    background-color: #040c3959;
    position: absolute;
    top: 0;
    left: 0;
  
  }
  .slider .slider-content{
    width: 90%;
  }
  .slider .slider-content h1{
    font-size: 30px;
    font-weight: 700;
    line-height: 40px;
  }
  .slider .slider-content p{
    font-size: 18px;
  }
   /* About Section=------- */
   .page-header {
    height: 300px;
  }
   .about-us .about-us-content{
    flex-direction: column;
    gap: 0;
  }
  .about-us .about-us-content .left .img-box{
    width: 455px;
  }
  .about-us .about-us-content .left .img-box .left-img{
    width: 400px;
  }
  .about-us .about-us-content .left .img-box .right-img{
    width: 400px;
  }
  .about-us .about-us-content .right h1{
    font-size: 40px;
    font-weight: 500;
    line-height: 60px;
    margin-bottom: 20px;
  }
  .about-us .about-us-content .right p{
    font-size: 18px;
    line-height: 28px;
    margin-bottom: 15px;
  }
    /* Study Destination--------------------- */
    .study-destination .study-destination-content .study-des-content-body{
      width: 98%;
    }
    .services-title{
      width: 98%;
    }
    .study-destination-area .main-service{
      width: 98%;
    }
    /* Scholarship--------------------- */
    .scholarship .scholarship-content{
      height: 500px;
    }
    .scholarship .scholarship-content .scholarship-body{
      position: absolute;
      width: 95%;
      top: 50%;
      left: 2%;
    }
    .scholarship .scholarship-content .scholarship-body h1{
      font-size: 40px;
      line-height: 55px;
    }
    /* Latest Trende---------------- */
    .latest-trend .latest-trend-content .latest-trend-header h1{
      font-size: 25px;
      font-weight: 700;
      line-height: 35px;
      margin-top: 5px;
    }
    /* Contact Section--------------------- */
    .contact .contact-content .contact-body{
      display: flex;
      flex-direction: column;
      flex-wrap: wrap;
      align-content: center;
      justify-content: center;
      padding-top: 10px;
    }
  /* ******************************************** */
  /* --------------About Page-------------------- */
  /* ******************************************** */
  /* All Service Details----------------- */
  .ser-details .ser-details-content{
    display: flex;
    flex-direction: column;
    gap: 1em;
    margin-bottom: 20px;
  }
  .ser-details .ser-details-content:nth-child(even) {
    flex-direction: column;
  }
  .ser-details .ser-details-content .left{
    flex: 1;
    flex-basis: 300px;
    max-width: 100%;
  }
  .ser-details .ser-details-content .right{
    flex: 1;
    flex-basis: 300px;
    max-width: 100%;
  }
  .ser-details .ser-details-content .left h3{
    font-size: 25px;
  }
  .ser-details .ser-details-content .right .ser-img-wrapper{
    width: 100%;
    max-height: 350px;
    overflow: hidden;
  }
  .ser-details .ser-details-content .left p{
    font-size: 16px;
    line-height: 25px;
  }
    /* incomparable-------------------- */
    .incomparable .incomparable-content{
      display: flex;
      flex-direction: column;
    }
    .incomparable .incomparable-content .left h3{
      text-align: center;
    }
    .incomparable .incomparable-content .left .left-body .card{
      flex: 1;
      flex-basis: 250px;
      max-width: 350px;
    }
    /* Specialization--------------- */
    .inte-service .inte-service-content h1{
      font-size: 25px;
      line-height: 35px;
      margin-bottom: 20px;
    }
  /* Founder ----------------- */
  .founder-header h1{
    text-align: center;
  }
  .founder .founder-content{
    flex-direction: column;
    align-items: center;
    gap: 2em;
  }
  .founder .founder-content .founder-left{
    flex: 1;
    flex-basis: 100%;
    margin-left: 50px;
  }
  .founder .founder-content .founder-right{
    flex: 1;
    flex-basis: 100%;
  }
    /* Service Page Design-------------------- */
    .service-page-header{
      width: 100%;
      height: 500px;
    }
    .service-page-header .page-header-content{
      flex-direction: column;
      justify-content: space-between;
    }
    .service-page-header .page-header-content h3{
      flex: 1;
      flex-basis: 100%;
      font-size: 50px;
    }
    .service-page-header .page-header-content p{
      flex: 1;
      flex-basis: 100%;
      text-align: left;
      margin-top: 50px;
      font-size: 18px;
      opacity: 1;
    }
    /* --------------------------------- */
    /* Testimonial Page---------------- */
    /* -------------------------------- */
    .testimonial-modal{
      width: 95%;
      height: 450px;
    }
    /* ----------------------------------------- */
    /* News & Event ------------------------ */
    /* --------------------------------------- */
    .news-event{
      width: 100%;
      height: 60vh;
    }
    .news-event .news-event-content h1{
      font-size: 60px;
      line-height: 70px;
      letter-spacing: 5px;
    }
    .news-event .news-event-content h2{
      font-size: 90px;
      letter-spacing: 50px;
      margin-left: 30px;
    }
    .news .news-content .news-body .card{
      display: flex;
      flex-direction: column;
      flex-wrap: wrap;
      justify-content: center;
      gap: 2  em;
      border-bottom: 2px solid var(--border-color);
      padding-bottom: 50px;
    }
    .news .news-content .news-body .card .row .news-des-content a{
      margin-top: 30px;
    }
    /* News------------------- */
    .event .event-content .event-body .card{
      flex: 1;
      flex-basis: 400px;
      max-width: 100%;
    }
    /* Event Detials page--------------- */
    .event-details .event-content .event-header{
      width: 100%;
      height: 50vh;
    }
    .event-details .event-content .event-body .left .row h1{
      font-style: 18px;
      font-weight: 500;
      width: 60%;
    }
    .event-details .event-content .event-body .event-body-content{
      display: flex;
      flex-direction: column;
    }
    .event-details .event-content .event-body .left .row .img-wrapper{
      height: 300px;
    }
    .event-details .event-content .event-body .left .row .img-wrapper::after{
      width: 35%;
    }
    /* Blog-------------------------- */
    .blogs .blogs-content{
      display: flex;
      flex-direction: column-reverse;
      flex-wrap: wrap;
      justify-content: center;
      gap: 2em;
    }
    .blogs .blogs-content .blog-left{
      flex-basis: 100%;
    }
    .blogs .blogs-content .blog-left .card .blg-card-left .blg-img-wrapper{
      width: 100%;
      height: 350px;
    }
    .blogs .blogs-content .blog-right{
      flex-basis: 100%;
    }
    /* Career Section--------------------- */
    .career .career-content .career-header h1{
      font-size: 30px;
    }
    .career .career-content .career-body .left img{
      width: auto;
      height: 100%;
    }
    .career .career-content .career-body .left{
      border-bottom-left-radius: 0;
      border-top-right-radius: 20px;
    }
    .career .career-content .career-body .right{
    flex: 1;
    flex-basis: 50%;
    background-color: var(--light-bg-color);
    padding: 30px 20px;
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;
    border-top-right-radius: 0;
    }
  .career .career-content .career-body .right form h1{
    font-size: 16px;
    font-weight: 700;
    line-height: 20px;
    opacity: 80%;
    margin-bottom: 10px;
  }
  .career .career-content .career-body .right form button{
    font-size: 12px;
    margin-top: 10px;
    border-radius: 0;
    width: auto;
    border-radius: 5px;
  }


  /* Footer---------------- */
  .footer .footer-content .row{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    gap: 2em;
    padding: 0 20px;
  }
  .footer .footer-content .row .col{
   flex: 1;
   flex-basis: 200px;
  }

}

@media (max-width: 575px) {
  .title{
    font-size: 30px;
  }
  .sub-title{
    font-size: 16px;
  }
/* header------------------------ */
.header .row .col .logo{
  padding-left: 5px;
}
.header{
  position: relative;
}
.header .row .col.left{
  flex-basis: 200px;
}
.header mobile-nav{
  width: 50px;
}
.header .row .col.mobile-menu{
  width: 50px;
}
.header .row .col .logo{
  line-height: 80px;
}
.header .row .col .logo img{
  height: 60px;
}
.header .row .col.right{
  display: none;
}
.header .col.main-nev{
  display: none;
}

/* Request Form------------------------------------ */
.request-form{
  width: 90%;
  height: auto;
  padding: 15px;
}
.request-form .request-form-body form button{
  font-size: 12px;
}
  /* Mobile Menu---------------------- */
  .header .row .col.mobile-menu{
    display: block;
    text-align: right;
  }
  .header .row .col.mobile-menu span{
    font-size: 30px;
    line-height: 80px;
    margin-right: 10px;
    color: var(--primary-color);
  }

  .header .mobile-nav{
    width: 350px;
    height: 100vh;
    position: absolute;
    right: -320px;
    display: none;
    text-align: right;
    z-index: 2000;
    background-color: var(--secondary-color);
    color: var(--white-color);
    border: 1px solid #e5e8ec36;
    border-top: 0;
    border-bottom: 0;


    transition: right 1s linear;
    transition-property: background-color;
    transition-duration: 0.5s;
    transition-timing-function: ease-in;
    transition-delay: 0.3s;
  }
  .header .mobile-nav ul li{
    padding: 15px 20px;
    font-weight: 500;
    border-bottom: 1px solid #e5e8ec36;
    overflow: hidden;
  }
  .header .mobile-nav .menu-logo{
    position: absolute;
    left: 0;
    bottom: 15%;
  }
  .mobile-dropdown{
    position: relative;
    top: 10px;
    right: 0;
    max-height: 0;
    overflow: hidden;
    transition: .3s;
  }
  .mobile-dropdown ul li:last-child{
    border-bottom: none;
  }
  .mobile-dropdown-show{
    max-height: 100%;
  }
  .roted180geg{
    transform: rotate(180deg);
  }
  .fa-caret-down{
    transition: .3s;
  }
  /* Slider------------------------ */
  .slider{
    width: 100%;
    height: 60vh;
    position: relative;
  }
  .slider::after{
    content: "";
    width: 100%;
    height: 60vh;
    background-color: #040c3959;
    position: absolute;
    top: 0;
    left: 0;
  
  }
  .slider .slider-item img{
    width: auto;
    height: 100%;
  }
  .slider .slider-content{
    width: 90%;
  }
  .slider .slider-content h1{
    font-size: 30px;
    font-weight: 700;
    line-height: 40px;
  }
  .slider .slider-content p{
    font-size: 18px;
  }
     /* About Section=------- */
     .page-header {
      height: 200px;
    }
     .about-us .about-us-content{
      flex-direction: column;
      gap: 0;
    }
    .about-us .about-us-content .left .img-box{
      width: 355px;
      height: 400px;
      margin: auto;
    }
    .about-us .about-us-content .left .img-box .left-img{
      width: 300px;
    }
    .about-us .about-us-content .left .img-box .right-img{
      width: 300px;
      top: 35%;
      left: 10%;
    }
    .about-us .about-us-content .left .img-box .experience{
      position: absolute;
      top: 110px;
      right: -30px;
      width: 150px;
      height: 150px;
    }
    .about-us .about-us-content .left .img-box .experience .round h1{
      font-size: 25px;
      font-weight: 500;
      margin-bottom: 10px;
    }
    .about-us .about-us-content .left .img-box .experience .round p{
      font-size: 16px;
    }
    .about-us .about-us-content .right h1{
      font-size: 40px;
      font-weight: 500;
      line-height: 60px;
      margin-bottom: 20px;
    }
    .about-us .about-us-content .right p{
      font-size: 18px;
      line-height: 28px;
      margin-bottom: 15px;
    }
    .about-us .about-us-content .left::after{
      content: "";
      width: 200px;
      height: 200px;
      border: 5px dashed var(--primary-color);
      position: absolute;
      border-radius: 100%;
      bottom: 0;
      left: -10%;
      -webkit-animation:spin 10s linear infinite;
      -moz-animation:spin 10s linear infinite;
      animation:spin 10s linear infinite;
    }

    /* Study Destination--------------------- */
    .study-destination .study-destination-content .study-des-content-body{
      width: 98%;
    }
    .services-title{
      width: 98%;
    }
    .study-destination-area .main-service{
      width: 98%;
    }
    .study-destination .study-destination-content .study-des-content-header h3{
      font-size: 20px;
    }
    .services-title h3{
      font-size: 20px;
      margin-bottom: 20px;
    }
    .services-title p{
      font-size: 16px;
      margin-bottom: 20px;
      opacity: 1;
    }
    /* Testimonial section--------------- */
    .testimonial .testimonial-content .testimonial-body .header h1{
      font-size: 25px;
    }
    /* Partner------------------- */
    .partner-content .partner-body .card{
      flex: 1;
      flex-basis: 150px;
      max-width: 250px;
      height: 100px;
      border: 1px solid var(--border-color);
      padding: 10px;
    }
    /* Scholarship--------------------- */
    .scholarship .scholarship-content{
      height: 500px;
    }
    .scholarship .scholarship-content .scholarship-body{
      position: absolute;
      width: 95%;
      top: 50%;
      left: 2%;
    }
    .scholarship .scholarship-content .scholarship-body h1{
      font-size: 30px;
      line-height: 45px;
    }
    /* Latest Trende---------------- */
    .latest-trend .latest-trend-content .latest-trend-header h1{
      font-size: 20px;
      font-weight: 700;
      line-height: 25px;
      margin-top: 5px;
    }
    /* Contact Section---------------- */
    .contact .contact-content .contact-body .left .left-content h1{
      font-size: 25px;
      font-weight: 700;
      text-transform: uppercase;
      text-align:left;
    }
    .contact .contact-content .contact-body .left .left-content p{
      font-size: 18px;
      line-height: 24px;
      text-align:left;
      padding: 20px 0;
      opacity: 1;
    }
  /* ******************************************** */
  /* --------------About Page-------------------- */
  /* ******************************************** */
  /* All Service Details----------------- */
  .ser-details .ser-details-content{
    display: flex;
    flex-direction: column;
    gap: 1em;
    margin-bottom: 20px;
  }
  .ser-details .ser-details-content:nth-child(even) {
    flex-direction: column;
  }
  .ser-details .ser-details-content .left{
    flex: 1;
    flex-basis: 300px;
    max-width: 100%;
  }
  .ser-details .ser-details-content .right{
    flex: 1;
    flex-basis: 300px;
    max-width: 100%;
  }
  .ser-details .ser-details-content .left h3{
    font-size: 25px;
  }
  .ser-details .ser-details-content .right .ser-img-wrapper{
    width: 100%;
    max-height: 350px;
    overflow: hidden;
  }
  .ser-details .ser-details-content .left p{
    font-size: 16px;
    line-height: 25px;
  }
  /* specialization section------------------------------ */
  .Specialization .Specialization-content .Specialization-body .card{
    flex: 1;
    flex-basis: 250px;
    max-width: 400px;
  }
    /* incomparable-------------------- */
    .incomparable .incomparable-content{
      display: flex;
      flex-direction: column;
    }
    .incomparable .incomparable-content .left h3{
      font-size: 20px;
      text-align: center;
    }
    .incomparable .incomparable-content .left .left-body .card{
      flex: 1;
      flex-basis: 250px;
      max-width: 400px;
    }
    /* Page Header-------------- */
    .page-header .page-header-content h3{
      font-size: 35px;
    }
    /* Specialization--------------- */
    .inte-service .inte-service-content h1{
      font-size: 20px;
      line-height: 35px;
      margin-bottom: 20px;
    }
    /* Service Page Design-------------------- */
    .service-page-header{
      width: 100%;
      height: 400px;
    }
    .service-page-header .page-header-content{
      flex-direction: column;
      justify-content: space-between;
    }
    .service-page-header .page-header-content h3{
      flex: 1;
      flex-basis: 100%;
      font-size: 30px;
    }
    .service-page-header .page-header-content p{
      flex: 1;
      flex-basis: 100%;
      text-align: left;
      margin-top: 20px;
      font-size: 18px;
      opacity: 1;
    }
    /* Country Page---------------- */
    .country-title{
      font-size: 20px;
      text-align: center;
      font-weight: 500;
    }
    /* --------------------------------- */
    /* Testimonial Page---------------- */
    /* -------------------------------- */
    .testimonial-modal{
      width: 95%;
      height: 350px;
    }
    /* ----------------------------------------- */
    /* News & Event ------------------------ */
    /* --------------------------------------- */
    .news-event{
      width: 100%;
      height: 60vh;
    }
    .news-event .news-event-content h1{
      font-size: 50px;
      line-height: 60px;
      letter-spacing: 0px;
    }
    .news-event .news-event-content h2{
      font-size: 80px;
      letter-spacing: 30px;
      margin-left: 20px;
    }
    .news .news-content .news-body .card{
      display: flex;
      flex-direction: column;
      flex-wrap: wrap;
      justify-content: center;
      gap: 2  em;
      border-bottom: 2px solid var(--border-color);
      padding-bottom: 50px;
    }
    .news .news-content .news-body .card .row .news-des-content a{
      margin-top: 30px;
    }
    /* News------------------- */
    .event .event-content .event-body .card{
      flex: 1;
      flex-basis: 400px;
      max-width: 100%;
    }
    /* Event Detials page--------------- */
    .event-details .event-content .event-header{
      width: 100%;
      height: 40vh;
    }
    .event-details .event-content .event-body .left .row h1{
      font-style: 18px;
      font-weight: 500;
      line-height: 35px;
      width: 60%;
    }
    .event-details .event-content .event-body .event-body-content{
      display: flex;
      flex-direction: column;
    }
    .event-details .event-content .event-body .left .row .row-text-content{
      display: flex;
      flex-direction: column;
      gap: 5em;
      padding: 50px 0;    
    }
    .event-details .event-content .event-body .left .row .overviews{
      display: flex;
      flex-direction: column;
      gap: 2em;
    }
    .event-details .event-content .event-body .left .row .overviews .overview-right p{
      margin-top: 0px;
      text-align: justify;
    }
    .event-details .event-content .event-body .left .row .img-wrapper{
      height: 250px;
    }
    .event-details .event-content .event-body .left .row .img-wrapper::after{
      width: 45%;
    }
    /* Blog-------------------------- */
    .blogs .blogs-content{
      display: flex;
      flex-direction: column-reverse;
      flex-wrap: wrap;
      justify-content: center;
      gap: 2em;
    }
    .blogs .blogs-content .blog-left{
      flex-basis: 100%;
    }
    .blogs .blogs-content .blog-left .card .blg-card-left .blg-img-wrapper{
      width: 100%;
      height: 350px;
    }
    .blogs .blogs-content .blog-right{
      flex-basis: 100%;
    }
    /* Blog Detials----- */
    .writter .writter-content{
      flex-direction: column;
    }
    .comments .comments-content .comments-body .card{
      flex-direction: column;
      justify-content: center;
    }
    .comments .comments-content .comments-body .card:nth-child(even){
      margin-left: 0;
    }
    /* Contact Section--------------------- */
    .career{
      padding: 100px 5px;
    }
    .career .career-content .career-header h1{
      font-size: 25px;
    }
    .career .career-content .career-body .left img{
      border-radius: 10px;
      width: auto;
      height: 100%;
    }
    .career .career-content .career-body .left{
      border-top-left-radius: 20px;
      border-bottom-left-radius: 0;
      border-top-right-radius: 20px;
    }
  .career .career-content .career-body .right{
    border-bottom-left-radius: 20px;
    border-top-right-radius: 0;
    border-bottom-right-radius: 20px;
    padding: 30px 20px;
  }
  .career .career-content .career-body .right form{
    padding: 30px 20px;
  }
  .career .career-content .career-body .right form h1{
    font-size: 16px;
    font-weight: 700;
    line-height: 22px;
    opacity: 80%;
    margin-bottom: 10px;
  }
  .career .career-content .career-body .right form button{
    font-size: 10px;
    margin-top: 10px;
    border-radius: 0;
    width: auto;
    border-radius: 5px;
  }

  /* Footer---------------- */
  .footer .footer-content .row{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    gap: 2em;
    padding: 0 20px;
  }
  .footer .footer-content .row .col{
   flex: 1;
   flex-basis: 200px;
  }

  
}

@media (max-width: 500px) {

}